html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 100;
}

hr.light {
  border-top: 1px solid #fff;
}

small {
  color: #fff;
}

.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  z-index: 99;
}

.banner-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.banner-button:focus {
  background-color: transparent;
}

.banner-text {
  width: 100%;
}

.mast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.40),
    rgba(0, 0, 0, 0.40)
  ), url('../img/october19/blanc4.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  color: white;
}

.mast .headline,
.mast .subline,
.mast .studio-name {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: center;
}

.mast .subline {
  font-size: 28px;
}

.mast .studio-name {
  font-size: 24px;
  text-transform: uppercase;
}

.box {
  border: 2px solid white;
  padding: 75px;
}

.materialboxed {
  cursor: pointer;
}

.about {
  padding: 70px 0;
}

.about h2 {
  margin: 0;
}

.services {
  background: linear-gradient(
    rgba(0, 0, 0, 0.40),
    rgba(0, 0, 0, 0.40)
  ), url('../img/october19/blanc3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 650px;
  padding: 3.5%;
}

.services h2 {
  color: #fff;
}

.collapsible-body {
  background-color: #fff;
}

.services h2 {
  color: #fff;
}

.collapsible-body p {
  padding: 1rem;
}

footer {
  background: #212121;
  color: #fff;
}

.footer-row {
  margin-bottom: 0;
}

form {
  margin-bottom: 12px;
}

.input-field label {
  color: #fff;
}

.card-image .responsive-img {
  object-fit: cover;
  height: 270px;
}

.card-image .responsive-img-long {
  object-position: 0 10%;
}

@media only screen and (max-width: 768px) {
  .card-image .responsive-img {
    height: 175px;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    padding: 35px;
  }

  .card-image .responsive-img {
    height: auto;
  }
}

@media only screen and (min-width: 300px) and (max-width: 415px) {
  .mast .headline {
    font-size: 32px;
  }

  .mast .subline {
    font-size: 20px;
  }

  .mast .studio-name {
    font-size: 18px;
  }

  .box {
    border: 1px solid white;
    padding: 20px;
  }

  .mast {
    background-attachment: scroll;
    height: 320px;
  }

  .about {
    padding: 40px 0;
  }

  .services {
    background-size: cover;
    background-attachment: scroll;
    padding: 1.5%;
    height: 700px;
  }
}
